body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    box-sizing: border-box;
    background-color: #1e1e1e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: 0.35s ease;
    border-radius: 20px;
    width: fill;
    margin: 15px 20px;
    z-index: 9999;
    position: static; 
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.navbar-links.left {
    margin-right: auto;
}

.navbar-links.right {
    margin-left: auto;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem;
    border-radius: 12px;
}

.navbar-links a span.material-icons {
    margin-right: 0.5rem;
    font-size: 1.6rem;
}

.navbar-links a:hover {
    color: #ffffff;
    background-color: #575757;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;

}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 0.5rem 0;
    }

    .navbar-links.left,
    .navbar-links.right {
        margin: 0.5rem 0;
    }
}

/* the buttons ig */
.top-buttons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    height: 50px;

}

.top-button {
    width: 135px;
    height: 50px;

    text-align: center;
    border: 2px solid #575757; 
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.top-button a {
    display: block;
    color: #575757; 
    text-decoration: none;
    padding: 6px 10px; 
    transition: color 0.3s ease;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
    margin: auto;
    margin-top: 4%;
    text-align: center;

}

.top-button:hover {
    background-color: #575757;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: white;
}

.top-button:hover a {
    color: white;
    text-align: center;
}

.discord {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
}
.discord a {
    position: fixed;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
}